html
  head
    script(src='https://unpkg.com/qr-code-styling/lib/qr-code-styling.js')
    title= title
  body
    div(id="container")
      div(id="qr")
      br
      div(id="qr2")
      h1(id="url")= link
    p(id="id_color")= color 
    p(id="id_backgroundColor")= backgroundColor 


script.
  let url = document.getElementById("url").innerHTML
  const qrCode = new QRCodeStyling({
    width: 1280,
    height: 1280,
    data: url
  });
  const qrCode2 = new QRCodeStyling({
    width: 400,
    height: 400,
    data: url
  });
  qrCode.append(document.getElementById("qr"));
style.
  #container{
    font-family: "Century Gothic W01",Arial;
    text-align: center;
  }
  p {
    display: none;
  }
